#main-headline {
  text-align: center;
  color: blue;
  }

.place-description {
  font: Veranda;
  color: olive;
  }
  
  
.person-description {
  color: purple;
  }
  
.top-favorite {
  font-weight: bold;
  color: red;
  }
  
.important-point {
  
  
  
  
.emphasis {
  text-decoration: italic;
  }



